
.container-sidebar{
    width: 300px !important;
    position: relative;
    top: 0;
    height: 100%;
    bottom: 0;    
}

.cerrar-sesion-option{
    position: absolute;
    bottom: 0;    
    left: 0;
    width: 94.5%;
}

.container-photo img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.active-option{
    border: 1px solid rgb(33, 37, 41);    
}

.container-filter{
    background-color: rgb(221, 221, 221);
}

.container-main{
    height: 95vh;

}